*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
body {
    background-color: #000;
    min-height: 200vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky {
    padding: 4px 100px;
    background: rgba(0, 0, 0, 0.93);
}
header .logo {
    position: relative;
    transition: 0.6s;
    top: 2px;
    left: 50px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    padding: 20px;
    text-decoration: none;
    color : #008080;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}
section .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../pic/slide10.jpg')
}
section .side#side1 {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
section .side#side2 {
    clip-path: polygon(0 0, 100% 0%, 100% 100%);
}
.contentBx {
    background: #000;
    color: #fff;
    padding: 150px;
    padding-top:  150vh;
}
.contentBx h2 {
    position: relative;
    font-size: 4em;
}
.contentBx p {
    position: relative;
    font-size: 1.2em;
}
.container {
    position: relative;
    width: 100%;
    z-index: 5500;
}

.fullscreen-block {
    display: block;
    position: relative;
    background: url('../pic/cover1.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0px;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: .7s ease;
    backface-visibility: hidden;
}
.container:hover .fullscreen-block{
    opacity: 0.5;
}
.container:hover .middle {
    opacity: 1;
}
.fullscreen-block {
    border: 3px solid #008080;
    border-radius: 4px;
    padding: 5px;
}
.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.text {
    background-color:rgba(0, 0, 0, 0.93);
    color: #fff;
    font-size: 32px;
    padding: 25px 40px;
    opacity: 0;
    z-index: 5500;
    transition: 1.5s ease;
}
.container:hover .text {
    opacity: 1;
}
.textcafe {
    text-decoration: none;
}
/*CSS Slider*/
.slider {
    left: 50px;
    width: 90%;
    height: 98vh;
    border: 3px solid #008080;
    border-radius: 10px;
    overflow: hidden;
    display: block;  
    margin-right: auto; 
    margin-left: auto;
    justify-content: center;
}
.sliders {
    width: 500%;
    height: 500px;
    display: flex;
}
.sliders input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 800px;
    height: 500px;
}

/*CSS for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    top: 3150px;
    left: 23%;
    justify-content: space-between;
    padding: 1px;
    
}
.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    top: -20px;
}
.manual-btn:not(:last-child) {
    margin-top: 40 px;
}
.manual-btn:hover {
    background: #40D3DC;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/*CSS for automatic navigation*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    display: none;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}
.wrapper {
    position: absolute;
    top: 450%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(23, 10, 10, 0.68);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,
.msg {
    width: 48%;
}
.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: #c5ecfd;
}
::-moz-input-placeholder {
    color: #c5ecfd;
}
::-ms-input-placeholder {
    color: #c5ecfd;
}
.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.foot {
    color: #fff;
    background-color: rgba(23, 10, 10, 0.68);
    position: absolute;
    top: 490%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
